.mouse {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  filter: blur(1px);
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: none;
  @apply z-50;
  @apply lg:flex xl:flex 2xl:flex sm:opacity-100 md:opacity-100 lg:opacity-100 xl:opacity-100 2xl:opacity-100;

  &::before {
    content: '';
    position: absolute;
    width: 500%;
    height: 500%;
    background-color: #ffffff7d;
    filter: blur(200px);
    @apply rounded-full;
  }
  @apply w-12 h-12 rounded-full border-[1px] border-dashed border-r-[var(--color-primary)] -ml-6 -mt-6 pointer-events-none;
}

[data-cursor='true'] {
  @apply w-6 h-6 -ml-3 -mt-3;
}
