// fonts.scss

@font-face {
  font-family: 'SJ-Narrow';
  src: url('../fonts/SJ-Narrow.ttf') format('truetype');
}

.f-sjn {
  font-family: 'SJ-Narrow', sans-serif;
}

@font-face {
  font-family: 'Bellamy-Stevenson';
  src: url('../fonts/Bellamy-Stevenson.otf');
}

.f-bs {
  font-family: 'Bellamy-Stevenson', sans-serif;
}

@font-face {
  font-family: 'Sounso-Undividedad';
  src: url('../fonts/Sounso-Undividedad.ttf') format('truetype');
}

.f-sounso {
  font-family: 'Sounso-Undividedad', sans-serif;
}
