html {
  -webkit-font-smoothing: antialiased;
  --fg: #555;
}

html.dark {
  --fg: #bbb;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  line-height: 1.7;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif;
  color: var(--fg);
  @apply bg-zinc-50 dark:bg-zinc-950;
}
