:root {
  --color-primary: #bfff00;
  --color-primary-100: #bfff0090;
  --color-primary-200: #bfff0080;
  --color-primary-300: #bfff0070;
  --color-primary-400: #bfff0060;
  --color-primary-500: #bfff0050;
  --color-primary-600: #bfff0040;
  --color-primary-700: #bfff0030;
  --color-primary-800: #bfff0020;
  --color-primary-900: #bfff0010;

  --color-main-bg: #000000;

  --color-white: #ffffff;
  --color-black: #000000;
}
